/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

html, body {
    height: 100%;
}

.education {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    padding-top: 5rem; /* Adjust based on NavBar height */
    width: 100%;
}

.firstBlock {
    z-index: 6;
    background: #f8f8f8;
    background-image: url('../assets/education2.jpg');
    background-size: cover; /* Cover ensures the image fills the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
    margin-top: -5rem; /* Close the gap caused by padding in .education */
}

.blackBlockEducation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white;
    padding: 4rem;
    text-align: left;
    box-sizing: border-box;
}

.titleEducation {
    font-size: 3rem;
    width: 80%;
    margin-bottom: 1rem;
    font-weight: 500;
}

.banner {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    background: #ffffff;
    position: relative;
    margin: 2rem 0;
}

.banner h2 {
    font-weight: 400;
    font-size: 3rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

.bannerTrack {
    display: flex;
    animation: scroll 20s linear infinite;
}

.bannerImage {
    width: auto;
    height: 7rem;
    margin-right: 3rem;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-10 * 7rem - 10 * 1rem)); /* Adjust based on the total width of all images and margins */
    }
}

/* Slider styling */
.sliderEducation {
    margin-top: 2rem;
    padding: 0;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sliderEducation-tabs {
    display: flex;
    width: 100%;
    background-color: #857A74;
    height: 5rem;
    box-sizing: border-box;
}

.sliderEducation-tab {
    flex: 1;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: 100;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.sliderEducation-tab.active {
    background-color: #998E88;
}

.sliderEducation-content {
    padding: 2rem;
    background-color: #998E88;
    color: white;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.sliderEducation-content h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    box-sizing: border-box;
}

.sliderEducation-content ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.sliderEducation-content li {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    flex: 1 1 45%;
    position: relative;
    padding-left: 4rem;
    font-weight: lighter;
    box-sizing: border-box;
}

.sliderEducation-content li::before {
    content: '\f0e7'; /* Font Awesome check icon */
    font-family: 'Font Awesome 5 Free'; /* Font family for Font Awesome */
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    color: white;
    margin-left: 1rem;
}

.investEduGraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

.investEduGraph h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.investEduGraph p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.investGraphWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.investGraph {
    width: 80%;
    height: auto;
}

.textGraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: black;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.block {
    flex: 1;
    margin: 1rem;
    max-width: 80%;
    text-align: center;
    box-sizing: border-box;
}

.block h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.block p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.italic {
    font-style: italic;
    font-weight: bold;
}

.table {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.table h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 0 1rem;
}

.educationWrapper {
    width: 100%;
    margin-top: 2rem;
    box-sizing: border-box;
}

.tableEducation {
    width: 100%;
    height: auto;
}

.lastBlock {
    margin-top: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.sharpCompetition, .standards, .planning {
    padding: 1rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.sharpCompetition {
    background-color: #3B5E8B;
}

.standards {
    background-color: #2F4B70;
}

.planning {
    background-color: #172C43;
}

.h2Text h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}

.pText p {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
}

/* Responsive adjustments */
@media (min-width: 576px) {
    .blackBlockEducation {
        width: 60%;
    }

    .banner h2 {
        font-size: 2.5rem;
    }

    .sliderEducation-content ul {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .investEduGraph {
        flex-direction: row;
    }

    .investEduGraph h2 {
        font-size: 2.5rem;
    }

    .investEduGraph p {
        font-size: 1.5rem;
    }

    .investGraphWrapper {
        width: 50%;
    }

    .textGraph {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .block {
        max-width: 30%;
    }
}

@media (min-width: 1024px) {
    .banner h2 {
        font-size: 3rem;
    }

    .investEduGraph h2 {
        font-size: 3rem;
    }

    .investEduGraph p {
        font-size: 2rem;
    }

    .block h2 {
        font-size: 2rem;
    }

    .block p {
        font-size: 1.2rem;
    }
}
