/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.team {
    position: relative;
    text-align: left; /* Changed from center */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    padding-top: 80px;
    background-color: #ffffff;
    width: 100%; /* Ensuring width is 100% */
    overflow-x: hidden; /* Ensuring no horizontal scroll */
}

.mainBlock {
    z-index: 6;
    background: #f8f8f8;
    background-image: url('../assets/teamMainPic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    bottom: 80px;
    display: block;
}

.blackBlockDevGruIntro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 70px;
    text-align: left;
    margin-right: 2em;
}

.blackBlockDevGruIntro h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.blackBlockDevGruIntro .LeftTeamDesc,
.blackBlockDevGruIntro .RightTeamDesc {
    display: inline-block;
    font-size: 1.4em;
    font-weight: 100;
    width: 45%;
    margin: 0;
    vertical-align: top;
}

.blackBlockDevGruIntro .LeftTeamDesc {
    margin-right: 2%;
}

.blackBlockDevGruIntro .RightTeamDesc {
    margin-left: 2%;
}

.textBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0;
    width: 100%;
    position: relative;
    bottom: 5em;
}

.rectangle-with-triangle {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #7690A2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
}

.rectangle-with-triangle p {
    margin: 0;
    padding: 20px;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    width: 90%;
}

.rightTextOnWhiteBack {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-weight: 100;
    color: black;
}

.rightTextOnWhiteBack p {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 20px;
    width: 80%;
}

.rectangle-with-triangle::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #7690A2;
}

.directorInfo {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: left;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap; /* Ensure it wraps on smaller screens */
    gap: 1em; /* Add some gap between the elements */
    align-items: stretch; /* Ensure all items stretch to the same height */
}

.titleDev {
    margin-left: 2em;
    margin-bottom: 1em;
    font-size: 2.5em;
    font-weight: 400;
}

.michaelInfo, .backgroundInfo {
    flex: 1;
    min-width: 300px; /* Ensuring minimum width for small screens */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.michaelInfo {
    background-color: #318E6D;
    color: white;
    padding: 1em;
}

.backgroundInfo {
    background-color: #7CA597;
    padding: 1em;
}

.textPart {
    margin-left: 4em;
    margin-top: 2em;
}

.textPart .director {
    font-size: 1.4em;
}

.textPart .gradFrom {
    margin-top: 4em;
    margin-bottom: 0.2em;
    font-weight: 100;
    font-size: 1.4em;
}

.textPart .uniName {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 2em;
    font-style: italic;
}

.textPart .location {
    font-size: 1.4em;
}

.textPart .almaty {
    font-size: 1.5em;
    font-style: italic;
}

.figurePenn {
    position: relative;
    width: 6em;
    height: 6em;
    background-color: white;
    margin-bottom: 1em;
    margin-left: 20em;
}

.figurePenn::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-top: 20px solid white;
}

.pennLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

/* another part of block */
.backgroundInfo {
    margin-right: 0em;
}

.backgroundTitle {
    background-color: #318E6D;
    color: white;
    height: 5em;
}

.backgroundTitle h2 {
    margin-left: 1em;
    position: relative;
    top: 25%;
    font-weight: 400;
}

.backgroundDisc {
    background-color: #7CA597;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
    color: white;
    padding: 1em;
}

.backgroundDisc ul {
    margin-left: 2em;
    margin-top: 1em;
    padding-left: 1.5em;
    font-size: 1.1em;
    width: 90%;
}

.backgroundDisc ul li {
    list-style: none;
    position: relative;
}

.backgroundDisc ul li::before {
    content: '•';
    position: absolute;
    left: -0.7em;
    font-size: 2em;
    line-height: 1;
    color: white;
}

/* new */
.inlineBlock {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.profExp, .successCases {
    flex: 1;
    min-width: 200px;
}

.profExp h3, .successCases h3 {
    font-size: 1.5em;
    margin: 0 0 1em 2em;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.successCases {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.successCases .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 2em;
}

.figureUni {
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    position: relative;
    /* top: 4rem;
    right: 11rem; */
}

.figureUni::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 1.3em solid transparent;
    border-right: 1.3em solid transparent;
    border-top: 20px solid white;
}

.uniLogo {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.higCapital {
    width: 9em;
    height: auto;
    position: relative;
    left: 3rem;
    top: 0em;
}

.pjtLogo {
    width: 4em;
    height: auto;
    position: relative;
    left: 5em;
    top: 0rem;
}

.citiLogo {
    width: 4em;
    height: auto;
    position: relative;
    left: 7rem;
    bottom: 0.5em;
}

/* new */
.mentorProfile {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    height: auto;
    text-align: left;
}

.mentorTitle {
    margin-left: 2em;
    margin-bottom: 1em;
    font-size: 2.5em;
    font-weight: 400;
    text-align: left;
}

.blueColor {
    color: #016791;
}

.inlineBlocks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2em;
    gap: 1em; /* Added gap between blocks */
}

.brianInfo, .successCasesInfo {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.brianInfo {
    flex: 1;
    min-width: 300px; /* Ensuring minimum width for small screens */
    background-color: #016791;
    color: white;
    display: inline-block;
    vertical-align: top;
}

.successCasesInfo {
    flex: 2;
    min-width: 300px; /* Ensuring minimum width for small screens */
    background-color: #7690A2;
    color: white;
    display: inline-block;
    vertical-align: top;
}

.successCasesTitle {
    background-color: #016791;
    width: 100%;
    height: 2.5em;
    padding: 1em;
    position: relative;
    right: 0.8em;
    bottom: 1em;
    font-size: 1.2em;
}

.successCasesTitle h2 {
    font-weight: 400;
    position: relative;
    top: 0.3em;
    margin-left: 0.6em;
}

.textPart2 {
    margin-left: 3em;
    margin-top: 1em;
}

.textPart2 .mentor {
    font-size: 1.4em;
}

.textPart2 .gradFromMentor {
    margin-top: 4em;
    margin-bottom: 0.2em;
    font-weight: 100;
    font-size: 1.4em;
}

.textPart2 .uniName {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 2em;
    font-style: italic;
}

.textPart2 .location {
    font-size: 1.4em;
}

.textPart2 .almaty {
    font-size: 1.5em;
    font-style: italic;
}

.successCasesInfo h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.successCasesInfo .case {
    margin-bottom: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successCasesInfo .case p {
    margin: 0.5em 0;
}

.figurePennMentor {
    position: relative;
    bottom: 1em;
    width: 6em;
    height: 6em;
    background-color: white;
    margin-bottom: 1em;
    margin-left: 19em;
    margin-right: auto;
}

.figurePennMentor::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-top: 20px solid white;
}

.pennLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.mentorUniLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.backgroundDiscMentor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.case {
    width: 100%;
    padding: 10px;
    text-align: left;
    color: white;
    position: relative;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case .figureUniLogo {
    width: 3em; /* Adjusted for smaller size */
    height: 3em; /* Adjusted for smaller size */
}

.case .uniStudentLogo {
    width: 70%;
    height: auto;
}

.studentName {
    font-size: 1.5em;
}

.studentUni {
    font-style: italic;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.facts {
    font-size: 1.1em;
    margin-top: auto;
}

.figureUniLogo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 4em;
    height: 4em;
    background-color: white;
    margin-bottom: 1em;
}

.case .figureUniLogo:nth-child(1) {
    top: 0.5em;
    right: 2em;
}

.case .figureUniLogo:nth-child(2) {
    top: 0.5em;
    right: 6.5em;
}

.case .figureUniLogo:nth-child(3) {
    top: 10px;
    right: 110px;
}

.figureUniLogo::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-top: 20px solid white;
}

.uniStudentLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
}

.researchText h1 {
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
}

.blueResearch {
    color: #016791;
}

.researchText p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
}

/* Responsive Design */
@media (min-width: 576px) {
    .textBlock {
        height: 15em;
    }
    .rightTextOnWhiteBack p {
        font-size: 1.1em;
    }
}

@media (min-width: 768px) {
    .infoContainer {
        flex-direction: row; /* Ensure horizontal alignment for larger screens */
    }

    .michaelInfo, .backgroundInfo {
        flex: 1;
    }
}

@media (max-width: 767px) {
    .infoContainer {
        flex-direction: column; /* Stack elements vertically for smaller screens */
    }

    .michaelInfo, .backgroundInfo {
        width: 100%; /* Ensure full width for smaller screens */
    }

    .inlineBlock {
        flex-direction: column; /* Stack inline blocks vertically */
    }

    .profExp, .successCases {
        width: 100%; /* Ensure full width for smaller screens */
    }
}

@media (min-width: 1024px) {
    .textBlock {
        height: 25em;
    }
    .rightTextOnWhiteBack p {
        font-size: 1.3em;
    }
    .successCasesInfo .case {
        width: 48%; /* Make each case half-width */
        display: inline-block; /* Inline-block to align cases side by side */
    }
}
